main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#chatBot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 50vh;
  overscroll-behavior-y: contain;
  background-color: #e3acac;
  border: pink 3px ridge;
}

#userQuestion {
  font-size: 1.2rem;
  font-weight: bold;
  color: darkmagenta;
}

.chatStream {
  border-radius: 10px;
  margin: 5px;
  width: 80%;
  overflow: auto;
  text-align: center;
  color: darkmagenta;
  text-wrap: pretty;
  line-height: 22px;
}

#userInputChat {
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #e3acac;
  padding: 10px;
  height: 50px;
  width: 70vw;
  display: flex;
  justify-content: center;
}

#formUserSendQuestionToAI {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#userInput {
  width: 70%;
  height: 60%;
  border: cyan 3px ridge;
  background-color: #bbd2d5;
  font-size: 1rem;
}