body {
  background-color: black;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#chatBot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50vh;
  overscroll-behavior-y: contain;
  background-color: #e3acac;
  border: pink 3px ridge;
  height: 77vh;
}
.paraPicAndChat {
  display: flex;
  background-color: rgb(198 165 198);
  border: 1px solid rgb(27, 35, 87);
  margin: 2% 0%;
  width: 100%;
}
.paraPicAndChatUser {
  display: flex;
  background-color: rgb(142, 172, 240);
  border: 1px solid cadetblue;
  margin: 2% 0%;
  flex-direction: row-reverse;
  width: 90%;
}
.sakuraFigure {
  width: 10%;
  margin-left: 2%;
  margin-right: 2%;
}
.sakuraFigure img {
  width: 100%;
  border-radius: 25%;
}
.sakuraSpanName {
  font-size: 1.2rem;
  font-weight: bold;
  color: mediumorchid;
  align-self: center;
  display: inline-block;
  text-align: center;
  width: 100%;
}
#userQuestion {
  font-size: 1.2rem;
  font-weight: bold;
  color: darkmagenta;
}

#chatStreamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  overscroll-behavior-y: auto;
  background-color: #d5b5b5;
  border: #9c7e7e 5px ridge;
  height: 65vh;
  overflow: auto;
  padding: 10px;
}

.chatStream {
  border-radius: 10px;
  text-align: center;
  color: darkmagenta;
  text-wrap: pretty;
  line-height: 20px;
  height: fit-content;
  width: 100%;
  margin: auto;
  margin-top: 1%;
  font-size: 1.1rem;
  padding: 20px 5px;
}
.chatStreamUser {
  border-radius: 10px;
  text-align: center;
  color: rgb(28, 35, 173);
  text-wrap: pretty;
  line-height: 20px;
  height: fit-content;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  font-size: 1.1rem;
  padding: 0 5px;

}
#chatBotCode {
  background-color: teal;
  color: khaki;
  font-size: 1.1em;
  border: aliceblue 2px ridge;
  width: 80%;
  text-align: center;
}

#userInputChat {
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #e3acac;
  padding: 10px;
  height: 50px;
  width: 70vw;
  display: flex;
  justify-content: center;
  margin: 30px;
}

#formUserSendQuestionToAI {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#userInput {
  width: 70%;
  height: 60%;
  border: cyan 3px ridge;
  background-color: #bbd2d5;
  font-size: 1rem;
}

footer {
  color: aliceblue;
}