{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Sakura Ollama</title>
  <link rel="stylesheet" href="{% static 'sakuraOllama/sakura.css' %}">
</head>

<body>
  <main>
    <div id="chatBot">
      <h3>{{userQuestion}}</h3>
      <div id="chatStreamContainer">

        {% for conversation_item in conversation %}

            {% if conversation_item.role == "user" %}
                <div class="paraPicAndChatUser">
                    <figure class="sakuraFigure">
                        <img src="{% static 'sakuraOllama/images/user.png' %}">
                        <span class="userSpanName">{{ UserName }}</span>
                    </figure>
                    <p class="chatStreamUser">
                        {{ conversation_item.content }}
                    </p>
                </div>
            {% endif %}
            
            {% if conversation_item.role == "assistant" %}
                <div class="paraPicAndChat">
                    <figure class="sakuraFigure">
                        <img src="{% static 'sakuraOllama/images/Sakura.png' %}">
                        <span class="sakuraSpanName">Sakura</span>
                    </figure>
                    <p class="chatStream">
                        {{ conversation_item.content }}
                    </p>
                </div>
            {% endif %}

        {% endfor %}

      </div>

    </div>
    <div id="userInputChat">
      <form id="formUserSendQuestionToAI" method="POST" action="/sakuraasync">
        {% csrf_token %}
        <input id="userInput" type="text" name="question">
        <input type="submit" value="send" id="sendButton">
      </form>
    </div>
  </main>
  <footer>
    <p>/ 2024 - Sakura Ollama</p>
  </footer>
  <script src="{% static 'sakuraOllama/sakura.js' %}"></script>
</body>

</html>